HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

#####################
### IntelliJ IDEA ###
#####################
.idea
*.iws
*.iml
*.ipr

#####################
### Maven ###########
#####################
/log/
/target/

#####################
### Gradle ##########
#####################
.gradle/
/build/

#####################
### Packing Files ###
#####################
*.jar
*.war

#####################
### Directories #####
#####################
/bin/
/deploy/

#####################
### Logs ############
#####################
*.logs

#####################
### Gradle Wrapper ##
#####################
!gradle/wrapper/gradle-wrapper.jar

#####################
### Maven Wrapper ###
#####################
!.mvn/wrapper/maven-wrapper.jar

